<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head" />

<body>
    <nav th:replace="layout :: nav" />
    <form method="post" th:action="@{/savePlayer}" th:object="${player}">
        <div class="form-group">
            <label for="Name">Name</label>
            <input required type="text" id="name" class="form-control" placeholder="Enter player name"
                th:field="*{name}">
        </div>
        <div class=" form-group">
            <label for="Position">Position</label>
            <select class="form-control" id="position" required th:field="*{position}">
                <option value="" selected disabled>Select position</option>
                <option value="GK">GK</option>
                <option value="CB">CB</option>
                <option value="LB">LB</option>
                <option value="LB">RB</option>
                <option value="CM">CM</option>
            </select>
        </div>
        <div class=" form-group">
            <label for="BirthDate">Birth Date</label>
            <input required type="date" id="birthDate" class="form-control" placeholder="Enter player birth date"
                th:field="*{birthDate}">
        </div>
        <div class=" form-group">
            <label for="PlayerTeam">PlayerTeam</label>
            <select class="form-control" id="team" required th:field="*{team}">
                <option value="" selected disabled>Select player team</option>
                <option th:each="team : ${allTeams}" th:value="${{team.id}}" th:text="${team.name}" />
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Create Player</button>
    </form>
</body>

</html>