<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head" />

<body>
    <form method="post" th:action="@{/savePlayer}" th:object="${player}">
        <div class="form-group">
            <label for="Name">Name</label>
            <input required type="text" id="name" class="form-control" placeholder="Enter user name" th:field="*{name}">
        </div>
        <div class=" form-group">
            <label for="Role">Role</label>
            <select class="form-control" id="position" required th:field="*{position}">
                <option value="" selected disabled>Select position</option>
                <option value="User">User</option>
                <option value="Admin">Admin</option>
            </select>
        </div>
        <div class=" form-group">
            <label for="Telephone">Birth Date</label>
            <input required type="text" id="telephone" class="form-control" placeholder="Enter user telephone"
                th:field="*{telephone}">
        </div>
        <div class=" form-group">
            <label for="Password">Team</label>
            <input required type="password" id="password" class="form-control" placeholder="Enter user password"
                th:field="*{password}">
        </div>
        <button type="submit" class="btn btn-primary">Create Player</button>
    </form>
</body>

</html>