<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head" />

<body>

    <nav th:replace="layout :: nav" />
    <form method="post" th:object="${game}">
        <div>
            <input type="hidden" th:field="*{id}">
        </div>
        <div class=" form-group">
            <label for="Team">Team</label>
            <select class="form-control" id="Team" required th:field="*{Team}">
                <option value="" selected disabled>Select team</option>
                <option th:each="team : ${allTeams}" th:value="${{team.id}}" th:text="${team.name}" />
            </select>
        </div>

        
    </form>

</body>
</html>