<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head" />

<body>
    <nav th:replace="layout :: nav" />
    <table class="table table-borderless table-dark">
        <thead>
            <tr>
                <th scope="col">Home Flag</th>
                <th scope="col" th:text="${game.homeTeam.name}">Home Team</th>
                <th scope="col">0</th>
                <th scope="col" th:text="${game.date + ' ' + game.time}">Date and Time</th>
                <th scope="col">0</th>
                <th scope="col" th:text="${game.awayTeam.name}">Away Team</th>
                <th scope="col">Away Flag</th>
            </tr>
        </thead>
    </table>

    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group" role="group" aria-label="First group">
            <button type="button" class="btn btn-secondary">Game Started/Ended</button>
        </div>
        <div class="btn-group" role="group" aria-label="Second group">
            <button type="button" class="btn btn-secondary">Goal</button>
        </div>
        <div class="btn-group" role="group" aria-label="Second group">
            <button type="button" class="btn btn-secondary">Yellow Card</button>
        </div>
        <div class="btn-group" role="group" aria-label="Second group">
            <button type="button" class="btn btn-secondary">Red Card</button>
        </div>
        <div class="btn-group" role="group" aria-label="Second group">
            <button type="button" class="btn btn-secondary">Game Interrupted/Resumed</button>
        </div>
    </div>

    <table class="table table-borderless table-dark">
        <thead>
            <tr>
                <th scope="col">Home Team</th>
                <th scope="col"></th>
                <th scope="col">Away Team</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Yellow Card</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Goal</td>
            </tr>
            <tr>
                <td></td>
                <td>Game Started!</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</body>

</html>