<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <nav th:fragment="nav" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" th:href="@{/homepageUser}">
            <img th:src="@{/static/logo.png}" width=" 30" height="30" class="d-inline-block align-top" alt="logo">
            scoreDEI
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Stats
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/statsTeams}">Teams</a>
                        <a class="dropdown-item" th:href="@{/statsPlayers}">Players</a>
                    </div>
                </li>
            </ul>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/login}">Logout</a>
            </li>
        </div>
    </nav>
</body>

</html>