<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html>

<head th:replace="layout :: head" />

<body>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Team</th>
                <th scope="col">Edit/Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="team : ${teams}">
                <td th:text="${team.name}">team</td>
                <td>
                    <form method="get" th:action="@{/editTeam}" th:object="${team}">
                        <button type="submit" class="btn btn-primary">Edit/Delete</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

</body>

</html>