<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html>

<head th:replace="layout :: head" />

<body>
    <nav th:replace="layout :: nav" />
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Team</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="team : ${teams}">
                <td th:text="${team.name}">team</td>
                <td>
                    <a th:href="@{manageTeam(id=${team.id})}" class="btn btn-primary">Edit/Delete</a>
                </td>
            </tr>
        </tbody>
    </table>

</body>

</html>