<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html>

<head th:replace="layout :: head" />

<body>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Home Team</th>
                <th scope="col">Away Team</th>
                <th scope="col">Location</th>
                <th scope="col">Date</th>
                <th scope="col">Edit/Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="game : ${games}">
                <td th:text="${game.homeTeam.name}">homeTeam</td>
                <td th:text="${game.awayTeam.name}">awayTeam</td>
                <td th:text="${game.location}">location</td>
                <td th:text="${game.date}">date</td>
                <td>
                    <form method="get" th:action="@{/editGame}" th:object="${game}">
                        <button type="submit" class="btn btn-primary">Edit/Delete</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

</body>

</html>