<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head" />

<body>
    <nav th:replace="layout :: nav" />
    <form method="post" th:action="@{/saveEvent}" th:object="${event}">
        <div class=" form-group">
            <label for="Team">Team</label>
            <select class="form-control" id="team" required th:field="*{team}">
                <option value="" selected disabled>Select team</option>
                <option th:value="${{game.homeTeam.id}}" th:text="${game.homeTeam.name}" />
                <option th:value="${{game.awayTeam.id}}" th:text="${game.awayTeam.name}" />
            </select>
        </div>
        <div class=" form-group">
            <label for="Away Team">Player</label>
            <select class="form-control" id="awayTeam" required th:field="*{player}">
                <option value="" selected disabled>Home players</option>
                <option th:each="player : ${homePlayers}" th:value="${{player.id}}" th:text="${player.name}" />
                <option value="" selected disabled>Away players</option>
                <option th:each="player : ${awayPlayers}" th:value="${{player.id}}" th:text="${player.name}" />
            </select>
        </div>
        </div>
        <div class=" form-group">
            <label for="Date">Date</label>
            <input required type="date" id="date" class="form-control" placeholder="Enter date of event"
                th:field="*{date}">
        </div>
        <div class=" form-group">
            <label for="Time">Time</label>
            <input required type="time" step="2" id="time" class="form-control" placeholder="Enter time of event"
                th:field="*{time}">
        </div>
        <div>
            <input type="hidden" th:field="*{event}">
        </div>
        <button type="submit" class="btn btn-primary">Register Event</button>
    </form>
</body>

</html>