<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head" />

<body>
    <nav th:replace="layoutUser :: nav" />
    <p class="h4" th:text="${'Event Type: ' + eventType}"></p>
    <form method="post" th:action="@{/saveEventUser}" th:object="${event}">
        <div>
            <input type="hidden" th:value="${eventType}" th:attr="name='eventType'">
        </div>
        <div>
            <input type="hidden" th:value="${game.id}" th:attr="name='game'">
        </div>
        <div class=" form-group">
            <label for="Date">Date</label>
            <input required type="date" id="date" class="form-control" placeholder="Enter date of event"
                th:field="*{date}">
        </div>
        <div class=" form-group">
            <label for="Time">Time</label>
            <input required type="time" step="1" id="time" class="form-control" placeholder="Enter time of event"
                th:field="*{time}">
        </div>
        <button type="submit" class="btn btn-primary">Register Event</button>
    </form>
</body>

</html>