<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head" />

<body>
    <nav th:replace="layout :: nav" />
    <p class="h5" th:text="${'Event Type - ' + eventType}"></p>
    <form method="post" th:action="@{/saveEvent}" th:object="${event}">
        <div>
            <input type="hidden" th:value="${eventType}" th:attr="name='eventType'">
        </div>
        <div>
            <input type="hidden" th:value="${game.id}" th:attr="name='game'">
        </div>
        <div>
            <input type="hidden" th:value="${game.date}" th:attr="name='date'">
        </div>
        <div class=" form-group">
            <label for="Time">Time</label>
            <input required type="time" step="1" id="time" th:min="@{game.time}" class="form-control"
                placeholder="Enter time of event" th:field="*{time} ">
        </div>
        <button type="submit" class="btn btn-primary">Register Event</button>
    </form>
</body>

</html>